// breakpoints
$breakpoint-s-max: 599px;
$breakpoint-s-min: 600px;
$breakpoint-m-max: 899px;
$breakpoint-m-min: 900px;
$breakpoint-l-max: 1199px;
$breakpoint-l-min: 1200px;
$breakpoint-xl-max: 1599px;
$breakpoint-xl-min: 1441px;