:root {
  /* Primary */
  --q-primary: #3871E0;
  --purple: #3871E0;
  --purple-light: #908CE9;
  --white: #fff;
  --black: #1A1B24;
  --gray: #555968;

  /* Secondary */
  --green: #689750;
  --green-light: #05FF00;
  --positive: #6FA55C;
  --red: #FF0000;
  --red-light: #F43F5E;
  --gray-light: #6B7280;
  --gray-background: #F8FAFC;
  --gray2-background: #F6F8FA;
  --border-color-gray: #ECEEF1;
  --gray-6: #B8BDC7;
  --gray-20: #E5E7EB;
  --gray-30: #DCDCDC;
  --gray-35: #AEAEAE;
  --gray-40: #6A7383;
  --gray-icon: #414451;

  --shadow-primary: rgba(124, 58, 237, 1);
  --shadow-black-10: rgba(0, 0, 0, 0.1);
  --shadow-hover-black-15: rgba(0, 0, 0, 0.15);

  --checkbox-border: #E5E7EB;
  --chip-border: #C1C8D1;
  --form-border: #D9DADD;

  --icon-background: #EBEDEF;

  --note-color: #424551;
}